/* This file is for overrides of existing styles. It is not for new Komodo-created classes or other non-default stylizations. Please see the index.styl file in .vuepress/styles/ directory for the latter */

$mediumZoomZIndex = 10000

$borderColor = #687bf7;

$textColor = #f0f0f0;

$accentColor = #687bf7; 

$codeBgColor = #000000;
